.place__image {
  width: 100%;
  grid-area: image;
  display: block;
}

@media screen and (max-width: 768px) {
  .place__image {
    max-width: 340px;
  }
}

@media screen and (max-width: 500px) {
  .place__image {
    margin: 32px 0;
  }
}
