.place__description {
  max-width: 484px;
  grid-area: description;
}

@media screen and (max-width: 1024px) {
  .place__description {
    max-width: 456px;
  }
}

@media screen and (max-width: 768px) {
  .place__description {
    width: 353px;
  }
}

@media screen and (max-width: 320px) {
  .place__description {
    max-width: 288px;
  }
}
